@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.walletList {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.walletLink {
  margin-bottom: 10px;
  color: blue;
  text-decoration: none;
}

.walletLink:hover {
  text-decoration: underline;
}